now_time
  span {hours}:{minutes}:{seconds}
  script.
    var self = this;
    this.tick = () => {
      let date = new Date(); 
      self.update({ hours: date.getHours(), minutes: date.getMinutes(), seconds: date.getSeconds() });
    };
    this.tick();
    setInterval(this.tick, 1000);
